@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
    --background: #f6f9fc;
    --foreground: #171717;
    --primary: #d4e9fe; /* Selected */
    --primary-foreground: #0056a4;
    --secondary: #c1dff8; /* Hover */
    --muted-foreground: #6b7280;
    --border: #d9dfe5;
    --card: #f6f9fc;
}

.dark {
    --background: #04070f;
    --foreground: #eaeff5;
    --primary: #0d263b;
    --primary-foreground: #008efb;
    --secondary: #53697b;
    --muted-foreground: #9ca3af;
    --border: #1f232b;
    --card: #0c121b;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-muted-foreground: var(--muted-foreground);
    --color-border: var(--border);
    --color-card: var(--card);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
